

/* .fdreq-btns{
    text-align: right;
}

.fdreq-btns Button{
    width: 100%;
    margin-bottom: 3px;
}

.accept-btn{
    background-color: rgb(41, 175, 130) !important;
    border:3px solid rgb(37, 153, 114) !important;
}

.reject-btn{
    background-color: rgb(175, 41, 41) !important;
    border:3px solid rgb(134, 32, 32) !important;
} */
